<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand>
    <XmlCommand Name="MAP2:LockManager:AddLock:System.Data.SqlClient">
        <Parameters>
            <Parameter Name="@LockKey" Type="String" Size="128"/>
			<Parameter Name="@LockType" Type="String" Size="128" />
            <Parameter Name="@LockUser" Type="String" Size="128" />
            <Parameter Name="@ExpireTime" Type="DateTime" />
        </Parameters>
        <CommandText>
			<![CDATA[INSERT INTO myLockManager
        ( LockKey, LockType, LockUser, CreateTime, ExpireTime )
VALUES
        ( @LockKey, @LockType, @LockUser, GetDate(), @ExpireTime )]]></CommandText>
    </XmlCommand>
	<XmlCommand Name="MAP2:LockManager:AddLock:MySql.Data.MySqlClient">
		<Parameters>
			<Parameter Name="@LockKey" Type="String" Size="128"/>
			<Parameter Name="@LockType" Type="String" Size="128" />
			<Parameter Name="@LockUser" Type="String" Size="128" />
			<Parameter Name="@ExpireTime" Type="DateTime" />
		</Parameters>
		<CommandText>
			<![CDATA[INSERT INTO myLockManager
        ( LockKey, LockType, LockUser, CreateTime, ExpireTime )
VALUES
        ( @LockKey, @LockType, @LockUser, now(), @ExpireTime )]]>
		</CommandText>
	</XmlCommand>
    <XmlCommand Name="MAP2:LockManager:DelLock">
        <Parameters>
            <Parameter Name="@LockKey" Type="String" Size="128"/>
			<Parameter Name="@LockType" Type="String" Size="128" />
        </Parameters>
        <CommandText><![CDATA[DELETE FROM myLockManager WHERE LockKey = @LockKey AND LockType = @LockType]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="MAP2:LockManager:GetDbDateTime:System.Data.SqlClient">
        <Parameters />
        <CommandText><![CDATA[SELECT GetDate()]]></CommandText>
    </XmlCommand>
	<XmlCommand Name="MAP2:LockManager:GetDbDateTime:MySql.Data.MySqlClient">
		<Parameters />
		<CommandText><![CDATA[SELECT now()]]></CommandText>
	</XmlCommand>
    <XmlCommand Name="MAP2:LockManager:GetLock">
        <Parameters>
            <Parameter Name="@LockKey" Type="String" Size="128"/>
			<Parameter Name="@LockType" Type="String" Size="128" />
        </Parameters>
        <CommandText><![CDATA[SELECT LockUser, ExpireTime, CreateTime FROM myLockManager WHERE LockKey = @LockKey AND LockType = @LockType]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="MAP2:LockManager:UpdateLock">
        <Parameters>
			<Parameter Name="@LockKey" Type="String" Size="128"/>
			<Parameter Name="@LockType" Type="String" Size="128" />
            <Parameter Name="@LockUser" Type="String" Size="128" />
			<Parameter Name="@CreateTime" Type="DateTime" />
            <Parameter Name="@ExpireTime" Type="DateTime" />
        </Parameters>
        <CommandText>
			<![CDATA[UPDATE 
	myLockManager
SET 
	LockUser=@LockUser, ExpireTime = @ExpireTime ,CreateTime = @CreateTime
WHERE 
	LockKey = @LockKey AND LockType = @LockType]]></CommandText>
    </XmlCommand>
	<XmlCommand Name="MAP2:LockManager:UpdateExpireTime">
		<Parameters>
			<Parameter Name="@LockKey" Type="String" Size="128"/>
			<Parameter Name="@LockType" Type="String" Size="128" />
			<Parameter Name="@ExpireTime" Type="DateTime" />
		</Parameters>
		<CommandText>
			<![CDATA[UPDATE 
	myLockManager
SET 
	ExpireTime = @ExpireTime
WHERE 
	LockKey = @LockKey AND LockType = @LockType]]>
		</CommandText>
	</XmlCommand>
</ArrayOfXmlCommand>